{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": 0,
    "arrow-body-style": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "jest"
  ]
}