[Unit]
Description=Leap node
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=ubuntu
Group=ubuntu
PermissionsStartOnly=true
Environment="DEBUG=leap-node,leap-node:tx,leap-node:period"
ExecStart=/usr/local/bin/leap-node --p2pPort=46691 --rpcaddr=0.0.0.0 --wsaddr=0.0.0.0 --config=/home/ubuntu/leap-${network}.json
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target