[Unit]
Description=Leap node

[Service]
Restart=on-failure
User=ubuntu
Group=ubuntu
PermissionsStartOnly=true
Environment="DEBUG=tendermint,leap-node*"
ExecStart=/usr/local/bin/leap-node --p2pPort=46691 --tendermintAddr=127.0.0.1 --unsafeRpc --rpcaddr=0.0.0.0 --rpcport=8645 --wsaddr=0.0.0.0 --wsport=8646 --config=/home/ubuntu/leap-mainnet.json
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target