[Unit]
Description=Leap node
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=ubuntu
Group=ubuntu
PermissionsStartOnly=true
Environment="DEBUG=tendermint,leap-node*"
ExecStart=/usr/local/bin/leap-node --p2pPort=46691 --rpcaddr=0.0.0.0 --rpcport=8545 --wsaddr=0.0.0.0 --wsport=8546 --config=/home/ubuntu/leap-${network}.json
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target