[Unit]
Description=PARSEC node
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=ubuntu
Group=ubuntu
PermissionsStartOnly=true
Environment="DEBUG=parsec,parsec:tx,parsec:period"
ExecStart=/usr/local/bin/parsec --p2pPort=46691 --rpcaddr=0.0.0.0 --wsaddr=0.0.0.0 --config=/home/ubuntu/parsec-${network}.json
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target